<tr>
  <td>
    Decoration: (<%= has_decoration %>), Rack: (<%= has_rack %>)
  </td>
  <% f.object.dimensions.order(sequence: :asc).each do |dimension| %>
    <%= render "#{mode}_price_cell", f: f, dimension: dimension, has_decoration: has_decoration, has_rack: has_rack %>
  <% end %>
</tr>
