<div class="main" id="inputform">
  <div class="innerBox">
    <h1 class="first"><%= t '.title' %></h1>
    <div class="pirkumaRezume">
      <%= t '.resume' %> <%= link_to t('.homepage_link'), root_path %>
    </div><!-- end.pirkumaRezume"-->
  </div><!-- end.innerBox -->
</div><!-- end.main -->
