<tr>
  <td>
    Size: <%= dimension.name %> (Decoration: (<%= has_decoration %>))
  </td>
  <% f.object.kits.order(sequence: :asc).each do |kit| %>
    <%= render "#{mode}_price_cell", f: f, kit: kit, has_decoration: has_decoration, dimension: dimension %>
  <% end %>
</tr>
