<% content_for :title do %>Par BAUDI DESIGN<% end %>
<div class="innerBox">

  <h2 class="first">Par mums</h2>
  <p>
    Mēs ticam, ka Tu esi dzimis baudīt. Dzimis, lai sniegtu baudu.
  </p>
  <p>
    Gultā tiek izdzīvotas daudz baudu. Mierpilni brīži. Mežonīgs sekss. Kopā būšanas prieks. Iedvesmojoša vide.
  </p>
  <p>
    Gulta ir vieta, kur Tu esi patiess, bez bruņām, kails... gatavs īstai baudai… ar visām ķermeņa maņām, prātu un dvēseli.
  </p>
  <p>
    Mēs spējam iekrāsot sajūtas, uzburt jaunas nianses. Mēs Tevi aicinām baudīt skaistu dzīvi. BAUDI!
  </p>
  <p>
    BAUDI gulta ir centrālais objekts guļamistabā, tā rada harmoniju, krāsu prieku, patīkamu pieskārienu.
  </p>
  <p>
    Pirmajā kolekcijā tiek piedāvāti 11 gultu dizaini, kas tiek papildināti ar veļas komplektiem, kas kopā veido neatkārtojamas kompozīcijas.
  </p>
  <p>
    BAUDI gultu unikalitāte slēpjas galvgalī - mīksts panelis, kas stiprinās pie sienas, tādejādi paverot neskaitāmas formu variācijas iespējas.
  </p>
  <hr />
  <h2 id="shopping_guidelines">Iepirkšanās informācija</h2>
  <ol>
    <li>
      Izvēlieties Jums interesējošo gultu un/ vai gultas veļas komplektu, atzīmējot gultas un/ vai gultas veļas izmērus un krāsu kombināciju.
    </li>
    <li>
      Spiediet pogu “CENA”.
    </li>
    <li>
      Aizpildiet ekrānā redzamo pieprasījuma anketu.
    </li>
    <li>
      Ar Jums darba dienas laikā sazināsies BAUDI dizainers un informēs par cenu, piegādes laiku un montāžas iespējām.
    </li>
    <li>
      Jums jāapmaksā BAUDI atsūtītais priekšapmaksas rēķins.
    </li>
    <li>
      Piegāde - 4-6 nedēļu laikā Latvijas, Igaunijas un Lietuvas teritorijā. Citās valstīs – klients tiek informēts individuāli par piegādes laiku.
    </li>
    <li>
      Montāža - pakalpojums pieejams Latvijas, Lietuvas un Igaunijas teritorijā.
    </li>
  </ol>

  <h3>Ja Jūs vēlaties, lai Jums :</h3>
  <ol>
    <li>
      izgatavo gultu citā krāsu un/vai materiālu kombinācijā, kas nav redzama mājas lapā "online store";
    </li>
    <li>
      izgatavo gultu pēc Jūsu izvēlēta dizaina;
    </li>
    <li>
      izstrādā un izgatavo jaunu, unikāla dizaina gultu
    </li>
  </ol>
  <p>sazinieties ar BAUDI dizaineru, zvanot vai sūtot e-pastu.</p>

  <hr />

  <h2>Piegāde</h2>
  <p>
    Rīga un Rīgas reģionā – bezmaksas.
    Pārējā Latvijas teritorijā - klients par piegādes cenu tiek informēts pasūtījuma saskaņošanas laikā. Cena tiek aprēķināta atbilstoši maršruta attālumam.<br/>
    Ārpus Latvijas teritorijas – klients par piegādes cenu tiek informēts pasūtījuma saskaņošanas laikā. Cena tiek aprēķināta atbilstoši maršruta attālumam.
  </p>
  <p class="u">Gultas veļas piegāde (ja tiek iegādāta tikai gultas veļa) :</p>
  <p>Mēs piedāvājam bezmaksas piegādi visā pasaulē, izmantojot Latvijas Pasta pakalpojumus.</p>

  <hr />

  <h2>Montāža</h2>
  <p>
    Jums ir iespēja Latvijas teritorijā izvēlēties gultas montāžas pakalpojumus. Mūsu meistars ne tikai piegādās gultu Jūsu mājās, bet arī veiks tās montāžu.
    <br />
    Maksa par montāžu – 50 EUR.
  </p>

  <hr />

  <h2>Preces atgriešana un atmaksa</h2>

  <p>
    Mēs lepojamies ar mūsu produktu kvalitāti. Mēs garantējam preču maiņu vai naudas atgriešanu gadījumos, ja ir konstatēti defekti ražošanā.
    <br/>
    Cenu korekcijas ar oriģinālo pirkuma kvīti ir derīgas 30 dienas no pieprasījuma izskatīšanas. Piegādes izmaksas netiek atgrieztas.
    <br/>
     Lai saņemtu papildus informāciju zvaniet, lūdzu, uz tālruni +371 26393580 vai arī sūtiet e-pastu uz baudi@baudidesign.com
  </p>

  <hr />

  <h2>Privātums</h2>
  <p>
    BAUDI iegūst klienta personīgo informāciju, jo tas ir nepieciešams, lai patērētājam nodrošinātu augstāko servisa līmeni.  Mūs mājas lapā Jūs varat pasūtīt preci, veikt pieprasījumus un pieteikties informācijas saņemšanai par jaunumiem. Jūsu pieprasījuma apstrādei mēs lūdzam sniegt informāciju – vārds, uzvārds, piegādes adrese, e-pasta adrese, kontakttālrunis u.c. BAUDI nepieprasa sensitīvos personas datus.
    <br/>
    Mēs nedalāmies ar iegūto informāciju. BAUDI nepārdod un neizīrē klientu sniegto informāciju citām juridiskām un fiziskām personām.
  </p>

  <br/><br/>
  <p><img src="/images/supportbanner.png" width="615" height="71" /></p>

</div><!-- end.innerBox -->
