<% content_for :title do %>About BAUDI DESIGN<% end %>
<div class="innerBox">

  <h2 class="first">About us</h2>
  <p>
  We believe you were born to experience pleasures and return those pleasures to others.</p>
  <p> Our beds are meant to be where we experience moments of supreme serenity, exhilaratingly wild sex, incredible intimacy and simply place that inspires our soul.</p>
  <p> Your bed is a where you can be genuine self, simply naked. With being stripped of any armour, you're able to open up to true pleasures with all the senses your body and soul have been craving for.</p>
  <p> We invite you to enjoy this beautiful life by emphasizing sensations through nuanced emotions. ENJOY!<br/>
  </p>

<p>
  The beds of BAUDI become a central piece of every bedroom by adding harmony through colour and pleasing sensations.</p>
<p> In our original collection, we provide 11 bed designs which can be complimented by our bedlinen to finish off the look.</p>
<p> he beds of BAUDI are made unique through our soft panel headboards which attached to the wall provide a dramatic aesthetic experience.<br/>
</p>
<hr />
  <h2 id="shopping_guidelines">Shopping guidelines</h2>
  <ol>
    <li>
      Choose your bed and/or bed linen set by selecting the desired bed and/or bed linen size and color combination.
    </li>
    <li>
      Press the "Price" button.
    </li>
    <li>
      Fill out the questionnaire.
    </li>
    <li>
      Within one business day, you will be contacted by our designer to inform you about the price, delivery terms and installation possibilities at that time.
    </li>
    <li>
      You will receive a prepayment invoice which must be paid for.
    </li>
    <li>
      Delivery will be made within 4-6 weeks in Latvia, Estonia and Lithuania. Specific delivery terms for other countries will be discussed individually.
    </li>
    <li>
      Installation – this service currently is available only in Latvia, Lithuania and Estonia.
    </li>
  </ol>

  <h3>You also have additional options to:</h3>
  <ol>
    <li>
      Make custom color and/or material design combinations which are not included in the "online store".
    </li>
    <li>
      Make a custom bed based on our design.
    </li>
    <li>
      Design and make a completely unique bed.
    </li>
  </ol>
  <p>If interested in any of these options please contact BAUDI designer by phone or e-mail.</p>

  <h2>Shipping information</h2>
  <p>In Riga and its region – free delivery.
  The rest of Latvia – the client will be informed about delivery costs while reconciling the order. The price will be calculated in accordance with the distance of delivery.<br/>
  Deliveries abroad - the client will be informed about delivery costs while reconciling the order. The price will be calculated in accordance with the distance of delivery.
  </p>
  <p class="u">Deliveries for bed linen (if purchased separately):</p>
  <p>We offer free standard worldwide delivery using Latvia Post services.</p>

  <hr />

  <h2>Installation</h2>
  <p>You have an option to opt for bed installation services in the territory of Latvia. Our expert will not only deliver your new bed to your home but also install it. Installation services cost 50 EUR.</p>

  <hr />

  <h2>Returns &amp; Refunds</h2>

  <p>We take great pride in the quality of our product. We will replace or refund your purchase against manufacturer's defects ONLY. Price adjustments will be honored within 30 days from order reconciliation with original purchase receipt. Delivery fees are non-refundable.<br/>
  For further assistance please call +371 26393580 or send an email to baudi@baudidesign.com</p>

  <hr />

  <h2>Privacy policy</h2>
  <p>BAUDI collects client personal information in order to provide the highest level of customer service. You can choose to order goods, make queries and apply for our mailing list on our webpage. BAUDI collects information about its customers such as name, surname, address, e-mail, contact information, etc. in order to process purchase orders; BAUDI does not collect or store sensitive information.<br/>
  We do not share the collected information. BAUDI does not sell or share client information to any third parties outside the company.</p>

  <br/><br/>
  <p><img src="/images/supportbanner.png" width="615" height="71" /></p>

</div><!-- end.innerBox -->
