<% content_for :title do %>About BAUDI DESIGN<% end %>
<div class="innerBox">

  <h2 class="first">About us</h2>
  <p>
  We believe that you were born to experience pleasure. Born to provide pleasure to others.</p>
  <p> We experience moments of serenity in our beds. Wild sex. The joy of intimacy, being together. A place that inspires.</p>
  <p> Your bed is a where you can be genuine, naked without any armor… ready for true pleasure… with all your senses, body and souls.</p>
  <p> We are able to emphasize sensations and conjure new nuances. We invite you to enjoy a beautiful life. ENJOY!<br/>
  </p>

<p>
  Beds of BAUDI are a central piece of every bedroom which adds to harmony, the joy of colors, and pleasing sensations.</p>
<p> In our very first collection we provide 11 bed designs which can be enriched with a bed linen set in order to create a unique composition.</p>
<p> The beds of BAUDI are made unique with the help of their headboards – a soft panel which is attached to the wall to provide unique aesthetic possibilities.<br/>
</p>
<hr />
  <h2 id="shopping_guidelines">Shopping guidelines</h2>
  <ol>
    <li>
      Choose your bed and/or bed linen set by selecting the desired bed and/or bed linen size and color combination.
    </li>
    <li>
      Press the "Buy" button.
    </li>
    <li>
      Fill out the questionnaire.
    </li>
    <li>
      Within a working day you will be contacted by a designer of BAUDI in order to reconcile your order and inform you about delivery terms and installation possibilities.
    </li>
    <li>
      You will receive a prepayment invoice which must be paid for.
    </li>
    <li>
      Delivery will be made within 4-6 weeks in Latvia, Estonia and Lithuania. Specific delivery terms for other countries will be discussed individually.
    </li>
    <li>
      Installation – this service currently is available only in Latvia, Lithuania and Estonia.
    </li>
  </ol>

  <h3>You also have additional options to:</h3>
  <ol>
    <li>
      Make custom color and/or material design combinations which are not included in the "online store".
    </li>
    <li>
      Make a custom bed based on our design.
    </li>
    <li>
      Design and make a completely unique bed.
    </li>
  </ol>
  <p>If interested in any of these options please contact BAUDI designer by phone or e-mail.</p>

 <h2>Shipping information</h2>
  <p> Delivery will be made within 4-6 weeks in Latvia, Estonia and Lithuania. Specific delivery terms for other countries will be discussed individually.</p>

  <h2 class="u">Bed delivery:</h2>
<p>In Riga and its region – free delivery.
  The rest of Latvia – the client will be informed about delivery costs while reconciling the order. The price will be calculated in accordance with the distance of delivery.<br/>
  Deliveries abroad - the client will be informed about delivery costs while reconciling the order. The price will be calculated in accordance with the distance of delivery.
</p>
<p class="u">Deliveries for bed linen (if purchased separately):</p>
<p>We offer free standard worldwide delivery using Latvia Post services.</p>

<hr />
  <h2>Installation</h2>
  <p>You have an option to opt for bed installation services in the territory of Latvia. Our expert will not only deliver your new bed to your home but also install it. Installation services cost 50 EUR.</p>


<hr />
  <h2>Returns &amp; Refunds</h2>

  <p>We take great pride in the quality of our product. We will replace or refund your purchase against manufacturer's defects ONLY. Price adjustments will be honored within 30 days from order reconciliation with original purchase receipt. Delivery fees are non-refundable.<br/>
  For further assistance please call +371 26393580 or send an email to baudi@baudidesign.com</p>


<hr />
  <h2>Privacy policy</h2>
  <p>BAUDI collects client personal information in order to provide the highest level of customer service. You can choose to order goods, make queries and apply for our mailing list on our webpage. BAUDI collects information about its customers such as name, surname, address, e-mail, contact information, etc. in order to process purchase orders; BAUDI does not collect or store sensitive information.<br/>
  We do not share the collected information. BAUDI does not sell or share client information to any third parties outside the company.</p>

<br/><br/>
<p><img src="/images/supportbanner.png" width="615" height="71" /></p>

</div><!-- end.innerBox -->
