<% content_for :title do %>O BAUDI DESIGN<% end %>
<div class="innerBox">

  <h2 class="first">O нас</h2>
  <p>
    Мы считаем, что ты рожден, чтобы наслаждаться. Рожден, доставлять удовольствие.
  </p>
  <p>
    В кровати проживается огромное количество радостных, полных спокойствия моментов. Страстный секс. Удовольствие быть вместе. Вдохновляющая среда. .
  </p>
  <p>
    Мы способны окрасить ощущения, пробудить совершенно новые нюансы. Мы приглашаем тебя насладиться красивой жизнью. НАСЛАЖДАЙСЯ!
  </p>
  <p>
    Кровать компании BAUDI это центральный элемент в спальне, она приносит гармонию, радость цвета, приятное прикосновение.
  </p>
  <p>
    В первой коллекции представлены 11 дизайнов кроватей, которые дополняются комплектами постельного белья, вместе создавая неповторимые композиции.
  </p>
  <p>
    Уникальность кровати BAUDI прячется в ее изголовье – мягкая панель, которая крепится к стене, открывая тем самым множество возможных вариантов форм.
  </p>

  <hr />

  <h2>Покупка</h2>
  <ol>
    <li>
      Выберите заинтересовавшую Вас кровать и/или комплект постельного белья, отметив размер и красочную комбинацию кровати и/или постельного белья.
    </li>
    <li>
      Нажмите кнопку "Купить".
    </li>
    <li>
      Заполните анкету запроса  на экране.
    </li>
    <li>
      В течение дня, с Вами свяжется дизайнер BAUDI и согласует сделанный Вами выбор, проинформирует о времени доставки и возможностях установки.
    </li>
    <li>
      Вам необходимо оплатить присланный счет предоплаты BAUDI.
    </li>
    <li>
      Доставка – в течении 4-6 недель на территорию Латвии, Литвы и Эстонии. Клиент другой страны о сроке доставки будет информирован отдельно.
    </li>
    <li>
      Установка – услуга доступна на территории Латвии, Литвы и Эстонии.
    </li>
  </ol>

  <h3>Если Вы желаете, чтобы Вам:</h3>
  <ol>
    <li>
      изготовили кровать другого цвета и/или в другой цветовой комбинации, недоступной на домашней странице "online store";
    </li>
    <li>
      изготовили кровать по выбранному Вами дизайну;
    </li>
    <li>
      разработали и изготовили кровать нового, уникального дизайна
    </li>
  </ol>
  <p>Свяжитесь с дизайнером, позвонив по телефону или отправив э-мейл.</p>

  <hr />

 <h2>Доставка</h2>
  <p>
    Доставка на территории Латвии, Литвы и Эстонии – в течение 4-6 недель. Клиенты другой страны будут информированы о доставке индивидуально.
  </p>

  <h2 class="u">Доставка кроватей:</h2>
  <p>
    Рига и рижский регион – бесплатно.
    <br />
    На остальной территории Латвии – о цене доставки клиента информируют во время согласования заказа. Цена рассчитывается согласно отдаленности маршрута.
    <br />
    За пределами Латии - о цене доставки клиента информируют во время согласования заказа. Цена рассчитывается согласно отдаленности маршрута.
  </p>
  <p class="u">Доставка постельного белья (если приобретается только постельное белье):</p>
  <p>Предлагаем бесплатный стандарт мировой доставки, используя услуги Латвийской почты.</p>

  <hr />

  <h2>Установка</h2>
  <p>
    На территории Латвии у Вас есть возможность выбрать услугу – установка кровати. Наши мастера не только доставят товар к Вам домой, но и соберут и установят кровать.
  </p>

  <hr />

  <h2>Возврат товара и компенсация</h2>

  <p>
    Мы гордимся качеством нашего товара. Мы заменим или вернем деньги за Вашу покупку только в случае дефекта производителя. Корректировки цен будут выполнены в течении 30 дней по запросу первоначального обращения товарного чека. Плата за доставку не возвращается.
    <br />
    Дополнительная информация по телефону +371 26393580 или по э-мейлу baudi@baudidesign.com
  </p>

  <hr />

  <h2>Политика конфиденциальности</h2>
  <p>
    BAUDI получает персональную информацию клиента, так как она необходима, для предоставления наивысшего уровня обслуживания клиента. На нашей домашней странице Вы можете заказать товар, делать запросы и записаться на получение информации о новинках. Для обработки  Вашей заявки мы просим указывать следующую информацию – имя, фамилия, адрес доставки, адрес э-почты, контактный номер телефона и др. BAUDI не требует сугубо личную информацию.
    <br />
    Также мы не распространяем полученную информацию, не продаем и не арендуем полученную информацию другим юридическим и физическим лицам.
  </p>
</div><!-- end.innerBox -->
