<div class="main" id="home">
  <div class="slider">
    <div class="sliderBox"><img src="/assets/slider/01.jpg" width="874" height="369" /></div>
  </div>
  <!-- end .slider -->
  <div class="leftCol">
    <div class="innerBox">
      <h1>Welcome to Baudi design beds</h1>
      <p>We produce hand-made custom beds, headboards and linen for those open minded. Situated in Lettland, Riga we offer our products for ordering on-line. </p>
      <p style="padding-top:13px; padding-bottom:13px;"><img src="/assets/css/line_dotted.gif" width="497" height="1" /></p>
      <div class="quickLink">
        <div><img src="/assets/slider/quickLinkBeds.jpg" width="244" height="164" /></div>
        <div><img src="/assets/slider/quickLinkLinen.jpg" width="244" height="164" /></div>
        <span class="clear"></span>
      </div>
      <p class="oswald">Take a look at our <a href="#">collection of beds</a> and <a href="#">linen</a>. </p>
    </div>
  </div>
  <div class="rightCol">
    <div style="display:block; height:300px; width:290px; overflow: hidden;">
      <h2 style="margin-bottom: -3px">Contacts</h2>
      <p style="color:#3e5d76; line-height: 1.5em; padding-top:0px">Tel: +371 22-02-08-02 (GT+2)<br />Mail: shop@baudibeds.com</p>
      <p style=" font-style:italic; color:#757c81; font-size:13px">Customers needs are at the top of our priorities. If you have any questions, dont be shy and call us or send an email.</p>
      <p style="padding-top:13px; padding-bottom:13px;"><img src="/assets/css/line_dotted.gif" width="497" height="1" /></p>
      <div style=""><img src="/assets/slider/sc_tmp.gif" /></div>
    </div>
  </div>
  <!-- end.rightCol -->
  <span class="clear"></span>
</div>
<!-- end.main -->
