<% content_for :javascript_includes do %>
  <%= javascript_include_tag "inspiration" %>
<% end %>

<% content_for :additional_css do %>
  <style type="text/css">
    #blueimp-gallery img.slide-content { display:block; height:85%; width:auto }
  </style>
<% end %>

<% @active_nav_tab = :inspiration %>
<% content_for :title do %>BAUDI DESIGN inspiration<% end %>

<div class="main" id="inspiration">
  <div class="innerBox">
    <iframe src="//player.vimeo.com/hubnut/album/3112681?color=6aac90&amp;background=ffffff&amp;slideshow=0&amp;video_title=0&amp;video_byline=1" width="888" height="337" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

    <div class="gridContainer" id="gridContainer">
      <% %w{01 02 03 04 05 06 07 08 09 10 12}.each do |index| %>
        <div class="grid-item">
          <% large_url = "/images/inspiration/foto_stila_0#{index}.jpg" %>
          <% thumb_url = "/images/inspiration/thumbs/foto_stila_0#{index}.jpg" %>
          <%= link_to image_tag(thumb_url, width: 280, height: 187), large_url, target: '_blank', data: {gallery: '#blueimp-gallery'} %>
        </div>
      <% end %>
    </div>
    <div id="blueimp-gallery" class="blueimp-gallery">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
    </div>

  </div><!-- end.innerBox -->
</div><!-- end.main -->
