<tr>
  <td>
    Size: <%= dimension.name %>
  </td>
  <% f.object.kits.order(sequence: :asc).each do |kit| %>
    <%= render "#{mode}_price_cell", f: f, kit: kit, dimension: dimension %>
  <% end %>
</tr>
