@charset "UTF-8";
/* CSS Document */


body { margin: 0; padding: 0; background: url(/images/css/BG-LINIJAS.png) no-repeat center center fixed #eaeaea;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; font-family:Arial, sans-serif; }

.wrapper { display:block; width:950px; position:relative; margin:0 auto; background:#FFF;   }




/* GLOBAL TEXT DIZ */

h1 { font-family: 'Oswald', Impact, sans-serif; font-weight:400; color:#3e5d76; font-size:27px }
h2 { font-family: 'Oswald', Impact, sans-serif; font-weight:300; color:#6c89a1;  font-size:27px }
h3 {  font-family: 'Oswald', Impact, sans-serif; font-weight:400; color:#615f5f; font-size:18px }
h4 {  font-family: 'Oswald', Impact, sans-serif; font-weight:400; color:#615f5f; font-size:18px }

p { line-height:1.4em; color:#372714; font-family: 'Open Sans', sans-serif; font-size:15px }
p.oswald { font-family: 'Oswald'; font-weight:500; font-size:18px; color:#666 }
p.oswald a:link, p.oswald a:visited { color:#F60 }

.main  ul li, ol li {  color:#333; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size:15px; padding-bottom:10px }







.header { display:block; height:165px; }
  .logo { display:block; width:310px; borderz:1px solid red }
  .navig { display:block; width: 600px; position:absolute;top: 105px; left:320px; z-index:2; text-align:right;  }
    .navig ul { margin:0; padding:0; font-family: 'Dosis', sans-serif; text-transform:uppercase; color:#979595; font-size:17px;
       text-shadow: 0 0 5px #f1f1f1; font-weight:500}
    .navig ul li { display:inline-block; margin:0; margin:0;  }
    .navig ul li.here { font-weight:700 }
    .navig ul li a { display:block; padding:7px 30px; background:#fafafa; background-image:url(/images/css/bg_nav.gif); text-decoration:none; color:#979595;  }
    .navig ul li a:hover {  background-image:url(/images/css/bg_nav-hover.gif); color:#4c9e7b }
  .langmenu { position:absolute; top: 30px; left:840px; font-family: 'Dosis'; font-weight:500; font-size:14px; color: #999;  }
  .langmenu a:link, .langmenu a:visited { color:#999; text-decoration:none }
  .langmenu a:hover { color:#F60; text-decoration:underline }
  .langmenu a.active { color:#F60; }





/* MAIN LAYOUT */
.main { border-bottom:1px solid #ccc; padding-bottom:150px; margin-bottom:400px }


.slider { display:block; padding: 16px 36px 16px 7px; max-width:950px; overflow:hidden; }
.sliderBox {  }


/* LEFT COL */

.leftCol { display:block; float:left; width:555px;  }
  body #shop-item .leftCol { display:block; float:left; width:390px;  overflow:hidden  }

.leftCol .innerBox {  padding-left:60px }




.shop_thumbs_img { margin-top:-10px }
.shop_thumbs_img div { padding-bottom:7px  }
  .shop_thumbs_img img { border:1px solid #999; padding:1px; margin-right:8px }
  .shop_thumbs_img img:hover { border:1px solid #ff6600; padding:1px }
  .shop_thumbs_img p { color:#666; font-size:12px; margin-top:0 }

.shop_size_selector { padding: 10px 0 10px 20px }
.shop_size_selector h3 { padding:5px 0 10px 0; margin:0  }
.shop_size_selector table { font-size: 12px; color:#666; border-collapse:collapse }
.shop_size_selector table td { padding-bottom: 5px  }








/* FORM ELEMENT SNIPPETI no csscheckbox.com RADIO BTNS */
input[type=radio].css-checkbox { display:none; }

input[type=radio].css-checkbox + label.css-label { padding-left:20px; height:15px; display:inline-block; line-height:15px; background-repeat:no-repeat; background-position: 0 0;font-size:13px; vertical-align:middle; cursor:pointer ;}
  input[type=radio].css-checkbox:checked + label.css-label { background-position: 0 -15px;}
  label.css-label { background-image:url(/images/css/csscheckbox_9ca3d7e8c2abca416f07682f901e90f6.png);
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }

/* FORM ELEMENT SNIPPETI no csscheckbox.com CHECKBOX */

input[type=checkbox].css-checkbox { position:absolute; z-index:-1000; top:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0; }

input[type=checkbox].css-checkbox + label.css-label { padding-left:21px; height:16px; display:inline-block; line-height:16px; background-repeat:no-repeat;
  background-position: 0 0; vertical-align:middle;cursor:pointer; }

input[type=checkbox].css-checkbox:checked + label.css-label { background-position: 0 -16px; }

td.chekbox { padding-top:7px }
td.chekbox label {
        background-image:url(/images/css/csscheckbox_3834ae89f4737dac1eac0995f9ac4cc9.png);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

/* LIELĀ PIRKT POGA */
.btn-style { font-family: 'Dosis', sans-serif; text-transform:uppercase; color:#979595; font-size:27px; font-weight:700; border:none; width: 100%; padding: 8px;  cursor:pointer; text-shadow: 0 0 5px #f1f1f1; margin-top:30px; background:url(/images/css/bg_nav.gif); }

.btn-style:hover { background:url(/images/css/bg_nav-hoverOrange.gif);  color:#ff9900; text-shadow: 0 0 5px #f1f1f1 }


/* SHOP LINEN */

.linenSelect { }
.linenSelect  p  { border:1px solid #d3d3d3; padding: 15px 12px; font-size:13px; color:#666  }
.linenSelect img { padding:1px; border:1px solid #9f9f9f; margin-bottom:5px }
.linenSelect img:hover { border:1px solid #ff6f0f }
  .linenSelectBox { display: block; width:100px; borderz:1px solid red; float: left; text-align: center; font-size:12px; color:#666; padding: 2px }
  .linenSelectBox:hover { color: #ff6f0f }


.cena { padding-left:10px  }
.cena table { font-size:14px;  border-collapse:collapse }
.cena table td { padding: 7px 0 7px 0px }
.cena table td.txt { padding-left:10px }

    tr.bed { color:#666; border-bottom:1px solid #e1e1e1; }
    tr.bed td.txt {  color:#666;  }
    tr.bed td.sum { font-weight:bold }

    tr.linen { color:#666; border-bottom:1px solid #919191;}
    tr.linen td.sum {  font-weight:bold  }

    tr.totalCost td.sum { font-weight:bold  }

    .cena tr.totalCost { color:#333 }
      .cena tr.totalCost  td { border:none}



/* SUBNAV LEFTCOL */

.leftCol .subNav { border-top: 1px solid #ccc; font-family: 'Oswald', Impact, sans-serif; font-weight:400; color:#3e5d76; font-size:17px; text-align:center; margin-top:20px   }
 .leftCol .subNav ul { margin:0; padding:0; }
 .leftCol .subNav ul li { margin:0; padding:5px; list-style-type:none; border-bottom: 1px solid #ccc   }
 .leftCol .subNav ul li a:link, .leftCol .subNav ul li a:visited { color:#666; text-decoration:none; display:block;
-webkit-transition-property:color, text;
-webkit-transition-duration: 0.15s, 0.15s;
-webkit-transition-timing-function: ease-out, ease-in;   }
 .leftCol .subNav ul li a:hover { color:#F60 }



/* RIGHT COL */

.rightCol { display:block; float: right; width: 330px; }
  body #shop-item .rightCol { width: 540px;  }
  body #shop-item .rightCol .innerBox { display:block; width:508px; padding: 15px 0 0 0; overflow:hidden; }

  .breadcrumbs { font-size:11px; color:#969696; letter-spacing:0.08em  }
  .breadcrumbs a:link, .breadcrumbs a:visited {  color:#969696; text-decoration:none;  }
  .breadcrumbs a:hover { color:#F60 }

  .gallery_th { text-align:center; padding: 11px 0 0 0 }
  .gallery_th img { padding: 0 4px 0 0 }

.rightCol p { font-size:13px; color:#595959; line-height:1.4em;  }


.clear { display:block; clear:both }



/* SHOP GRID */

#shop-grid h1 { text-align:left }
#inspiration img { padding-bottom:15px }

.main .innerBox { padding: 10px 0px 10px 30px }

.gridContainer { display:block;  overflow:hidden; width:915px;  }

.grid-item { float:left; margin-right:24px; margin-bottom: 24px  }



/* HOME SPECIALS */

.quickLink {  }
  .quickLinkBox { display:block; width:244px; float:left  }
    .titleContainer { background-image:url(/images/css/bg_quickLinkTitle.png); background-position:right; position: absolute; display:block; width:244px  }
    .titleContainer h3 { margin:0; padding: 4px 13px; margin:0; color:#FFF; text-transform: uppercase; font-weight:300; font-size:20px;   }
      .quickLinkBox:hover h3 { color:#FC0 }
    .titleContainer img { border:none  }




.contactInfo { display:block; overflow:hidden; width:290px }
.contactInfo p {  padding:10px 0px 10px 0px; margin: 0; }


.sc_icons { padding-top:29px  } /*Social media */
  .sc_icons img { border: none;  }
    .sc_icons img:hover { /* chek effects.css */ }

.sc_icons div  { display:block; float:left; width:30px; height:30px; margin-right:18px }
  .sc_icons .fb {  }
  .sc_icons .tw {  }
  .sc_icons .pin {  }



/* ABOUT */

#about .innerBox { padding-left: 170px; padding-right:170px;  }

#about .innerBox p { color:#333  }
#about .innerBox h2 { font-size:40px; border-top: 1px dotted #ccc; padding-top:30px; margin-top:50px }
#about .innerBox h2.first { border:none  }


hr { border-style: none none dotted; border-color:#ccc; display:block;  height: 1px;  width:auto; margin: 40px 0 20px 0; display:none  }
