<h1>Editing dimension</h1>

<%= render 'form', url: polymorphic_path([:back_end, @itemable, @dimension]) %>

<%= link_to 'Show', polymorphic_path([:back_end, @itemable, @dimension]) %> |
<%= link_to 'Back', polymorphic_path([:back_end, @itemable, :dimensions]) %>
