<div class="main" id="shop-grid">
  <div class="innerBox">
    <h1><%= t '.title' %></h1>
    <div class="gridContainer">
      <% @beds.each do |bed| %>
        <div class="grid-item">
          <% link_content = bed.main_thumb ? image_tag(bed.main_thumb.file.w280.url) : bed.name %>
          <%= link_to link_content, friendly_bed_path(bed) %>
        </div>
      <% end %>
    </div><!-- end.gridContainer -->

  </div><!-- end.innerBox -->
</div><!-- end.main -->
