<h1>Editing color</h1>

<%= render 'form', url: back_end_bed_color_path(@itemable, @color) %>

<%= link_to 'Show', back_end_bed_color_path(@itemable, @color) %> |
<%= link_to 'Back', back_end_bed_colors_path(@itemable) %>
