<div class="header">
  <div class="logo"><a href="#"><img src="/assets/css/logo.png" width="310" height="163" /></a></div>
  <div class="navig">
    <ul>
      <li class="here"><a href="#">home</a></li>
      <li>
        <%= link_to 'beds', beds_path %>
      </li>
      <li><a href="#">linen</a></li>
      <li><a href="#">inspiration</a></li>
      <li><a href="#">about</a></li>
    </ul>
  </div>
  <div class="langmenu"><a href="#">EN</a> &nbsp; <a href="#">LV</a> &nbsp; <a href="#">RU</a></div>
  <img src="/assets/css/line_header.gif" width="950" height="1" />
</div>
<!-- end.header -->
